<ion-content id="tela" [fullscreen]="true">
  <img src="\assets\img\icone_maior_cortado.png" alt="">
  <ion-grid class="button-grid" fixed>
    <ion-row class="button-row">
      <div [@changeButton]='state' class="login-color"></div>
      <ion-col class="ion-text-center" size="6">
          <ion-button [ngStyle]="{'color': color2}" class="login-button" (click)="change()" fill="clear" shape="round">Entrar</ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-button [ngStyle]="{'color': color1}" class="login-button" fill="clear" (click)="change()" shape="round">Cadastrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="state === 'orange'" class="input-container">
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-item lines="none" class="input-item">
          <ion-icon class="icon" slot="start" name="person-circle-outline"></ion-icon>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="12">
        <ion-item lines="none" class="input-item">
          <ion-icon class="icon" slot="start" name="lock-closed">
          </ion-icon><ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" shape="round">
          Entrar
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12"><ion-text class="ion-text-sm" color="medium"><p>Esqueci minha senha</p></ion-text></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="state === 'yellow'" class="input-container">
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button id="emailButton" expand="block">
          <ion-icon slot="start" name="mail-outline"></ion-icon>Email
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="12">
        <ion-button id="googleButton" expand="block">
          <ion-icon slot="start" name="logo-google"></ion-icon>Google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button id="facebookButton" expand="block">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>Facebook
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12"><ion-text class="ion-text-sm" color="medium"><p>Quero ser vendedor</p></ion-text></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
